<div class="morta">
  <button (click)="goBack()" *ngIf="c" class="bottone2">Torna al biologico</button>
  <button (click)="goBack()" *ngIf="!c" class="bottone2">Back to organic</button>
</div>
<div class="sbox" *ngIf="mortadellabio">
  <img src="{{mortadellabio.titolo}}" *ngIf="c" alt="" class="mortitol">
  <img src="{{mortadellabio.titolong}}" *ngIf="!c" alt="" class="mortitol">
  <div class="p-img">
    <img src={{mortadellabio.img}} alt="" class="img-morta">
    <img *ngIf="mortadellabio.logo" src={{mortadellabio.logo}} alt="" class="img-logo2">
  </div>
  <p *ngIf="c"><span class="bd it">Descrizione:</span> <br> {{mortadellabio.descrizione}}</p>
  <p *ngIf="!c"><span class="bd it">Description:</span> <br> {{mortadellabio.descrizioneng}}</p>
  <p class="small" *ngIf="c"><span class="bd it">Ingredienti:</span> <br> {{mortadellabio.ingredienti}}</p>
  <p class="small" *ngIf="!c"><span class="bd it">Ingredients:</span> <br> {{mortadellabio.ingredienting}}</p>
  <p class="plus">
    <span class="bd it" *ngIf="c">Plus Prodotto:</span>
    <span class="bd it" *ngIf="!c">Plus Product:</span>
    <br>
    <span class="bk" *ngFor="let addon of mortadellabio.addon" *ngIf="c">{{addon}}</span>
    <span class="bk" *ngFor="let addon of mortadellabio.addong" *ngIf="!c">{{addon}}</span>
    <img src="images/desc.svg" alt="">
  </p>
  <table class="tbinfo">
    <thead *ngIf="c">
      <tr>
        <th>Codice Prodotto</th>
        <th>Descrizione</th>
        <th>Peso Pezzo</th>
        <th>PZ. x CT.</th>
        <th>CT. x PLT.</th>
        <th>Diam. in cm</th>
        <th>Shelf Life</th>
      </tr>
    </thead>
    <thead *ngIf="!c">
      <tr>
        <th>Product Code</th>
        <th>Description</th>
        <th>Item Weight</th>
        <th>Item / Case</th>
        <th>Case / Pallet</th>
        <th>Diam. in cm</th>
        <th>Shelf Life</th>
      </tr>
    </thead>
    <tbody *ngIf="c">
      <tr *ngFor="let tab of mortadellabio.tab">
        <td data-name="Codice Prodotto">{{tab.cod}}</td>
        <td data-name="Descrizione">{{tab.descrizione}}</td>
        <td data-name="Peso">{{tab.peso}}</td>
        <td data-name="PZ. x CT.">{{tab.px}}</td>
        <td data-name="CT. x PLT.">{{tab.ct}}</td>
        <td data-name="Diam. in cm">{{tab.d}}</td>
        <td data-name="Shelf Life">{{tab.h}}</td>
      </tr>
    </tbody>
    <tbody *ngIf="!c">
      <tr *ngFor="let tab of mortadellabio.tabeng">
        <td data-name="Product Code">{{tab.cod}}</td>
        <td data-name="Description">{{tab.descrizione}}</td>
        <td data-name="Item Weight">{{tab.peso}}</td>
        <td data-name="Item / Case">{{tab.px}}</td>
        <td data-name="Case / Pallet">{{tab.ct}}</td>
        <td data-name="Diam. in cm">{{tab.d}}</td>
        <td data-name="Shelf Life">{{tab.h}}</td>
      </tr>
    </tbody>
  </table>

</div>
