$base-font-size= 1rem
$base-line-height= $base-font-size * 1.25

$logo= #89143B
$ble= #295059
$blu= #01244e
orange = #e14117
$pig = #ea6883
$yellow = #fff8d1

$type-scale = {
  'big': $base-line-height*2,
  'med': $base-line-height,
  'nor': $base-line-height,
  'lit': $base-line-height/2
}

$type-scale = {
  'big': 1.5em,
  'med': 1em,
  'nor': 0.778em,
  'lit': 0.583em
}
